[run]
branch = True

[report]
show_missing = True
exclude_lines =
    # The default must be restated because the `exclude_lines` option overrides it.
    pragma: no cover

    # This is not feasible to test as it requires some really wonky module loading.
    if __name__ == "__main__":
