__pycache__
.coverage
.devcontainer
.dockerignore
.editorconfig
.git
.github
.gitignore
.pre-commit-config.yaml
.pytest_cache
.ruff_cache
*.md

config.example.json
config.schema.json
config.json
Dockerfile
downloaded_files/
LICENSE
logs/
pyproject.toml
tests/
venv
