repos:
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        files: ^.*\.(json|py|md|yml)$
        additional_dependencies:
          - tomli
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      -  id: flake8
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
