apprise==1.9.2
ntplib==0.4.0
requests==2.32.3
Faker==36.1.1
seleniumbase==4.33.14
# Only needed for Windows systems, as they don't have an IANA database by default
tzdata>=2024.2; platform_system == "Windows"
