apprise==1.9.4
ntplib==0.4.0
requests==2.32.5
Faker==37.6.0
seleniumbase==4.41.4
# Only needed for Windows systems, as they don't have an IANA database by default
tzdata>=2025.2; platform_system == "Windows"
